<div class="container">
    <img src="../../assets/images/sunset-beach2.jpg" style="width: 100%; height:100%; margin-bottom: 0%; padding-bottom: 0%">
    <div class="bottom-left">Bottom Left</div>
    <div class="top-left">
        <p>
            Want to fully enjoy our beach?
            Take a look at our sunbed offer
        </p>
        
        <button mat-raised-button color="primary" routerLink="/sunbed-list">Rent a sunbed</button>
    </div>
    <div class="top-right">Top Right</div>
    <div class="bottom-right">Bottom Right</div>
    <div class="centered">Centered</div>
</div>